.git
.cache
README.md

collector-config-aws.yaml
collector-config-local.yaml
docker-compose-aws.yaml
docker-compose-local.yaml
opentelemetry-javaagent-all.jar
tempo-data
hello-app.log
run-microservice.sh
